/* Root Element */
html {
  font-size: 16px;
  line-height: 1.5;
  color: #515151;
  /* Lighter color for better visibility on a dark background */
}

/* Body */
body {
  body {
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
    /* Added Apple Color Emoji */
  }

  margin: 0;
  /* Ensuring the background is uniformly dark */
  color: #515151;
  /* Ensuring text color is light across the body */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 16px;
  color: #212121;
  /* Optional: Ensuring headings are clearly visible */
}

/* Paragraphs, Lists, and General Text Content */
p,
ul,
ol {
  margin-bottom: 16px;
  color: #313131;
  /* Light grey color for readability */
}

/* Links */
a {
  color: #80d8ff;
  /* Bright color for links to stand out on dark background */
}

a:hover {
  text-decoration: underline;
}



th,
td {
  border: 1px solid #666;
  /* Softer border color */
  padding: 8px;
  text-align: left;
  color: #515151;
  /* Text color for table content */
}

/* Code Blocks */
pre,
code {
  font-family: 'Courier New', monospace;


  /* Ensuring text color consistency */
  padding: 8px;
  border-radius: 4px;
}

/* Additional Styles */
/* Add any other styles you need, ensuring they are compatible with a dark theme */


.hljs {
  background-color: #303030 !important;
}
